<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Comment</key>
		<string>[10.7+] Change ADI 1984B to VIA VT2021</string>
		<key>Find</key>
		<data>hBnUEQ==</data>
		<key>Name</key>
		<string>AppleHDA</string>
		<key>Replace</key>
		<data>QQQGEQ==</data>
	</dict>
	<dict>
		<key>Comment</key>
		<string>[10.11] Disable ADI 1983</string>
		<key>Find</key>
		<data>gxnUEQ==</data>
		<key>Name</key>
		<string>AppleHDA</string>
		<key>Replace</key>
		<data>AAAAAA==</data>
	</dict>
</array>
</plist>
